:root {
    --texto: #ffffff;
    --secundario: #c0c0c0;
    --botao-azul: rgba(0, 128, 255, 0.5);
    --fundo: black;
    --font-main: 'Orbit', sans-serif;
}

body {
    color: var(--texto);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.body__black {
    background-color: black;
}

.container__index {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 64px 0;
    /* gap: 36px; */
}

.container__box {
    margin: 48px;
    /* background-color: red; */
}

.container__psy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 24px 0;
    /* gap: 36px; */
}

.container__box__psy {
    height: fit-content;
    margin: 24px 24px;
    /* padding: 24px; */
    gap: 12px;
    /* background-color: red; */
}

.str01 {
    text-shadow: -5px 5px 10px #08f, 5px -5px 10px #f80, -5px -5px 10px #8f0, 5px 5px 10px #f08;
}

.container__title {
    font-size: 128px;
    font-weight: 700;
    text-shadow: -5px 5px 10px #03f, 5px -5px 10px #f80, -5px -5px 10px #0f0, 5px 5px 10px #f08;
}

.container__title2 {
    padding: 12px;
    gap: 12px;
    font-size: 24px;
    font-weight: 200;
    text-shadow: 0 0 5px red, 2px 2px 2px black;
    text-align: justify;
}

.psy__img-title-align {
    display: flex;
    grid-column: 50% 50%;
    align-items: center;
    justify-content: center;
    margin: 24px;
    gap: 36px;
}

.container__title__psy {
    font-size: 64px;
    font-weight: 400;
    text-shadow: -5px 5px 10px #03f, 5px -5px 10px #f80, -5px -5px 10px #0f0, 5px 5px 10px #f08;
}

.container__button {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 16px;
    color: var(--texto);
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 1em;
    width: 300px;
}

.container__button:hover {
    background-color: #08f;
    box-shadow: -5px 5px 10px #03f, 5px -5px 10px #f80, -5px -5px 10px #0f0, 5px 5px 10px #f08;
}

.secondary_button {
    background-color: transparent;
    border: 2px solid var(--texto);
}

.container__note {
    font-size: 16px;
    color: var(--secundario);
    text-shadow: 0 0 5px red, 2px 2px 5px black;
    margin: 16px;
    text-align: start;
}

.container__image {
    width: 400px;
    margin: 1em 0 2em 0;
    border-radius: 64px;
    box-shadow: 0 0 24px yellow;
}

.container__image__psy {
    margin-top: 32px;
    width: 800px;
    border-radius: 64px;
    box-shadow: -5px 0px 12px red, 5px 0px 12px blue;
}

.cont01img {
    background-image: url("/img/img_earth01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont02img {
    background-image: url("/img/img_city02.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.cont03img {
    background-image: url("/img/img_nervous_system.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont04img {
    background-image: url("/img/img_speed01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.back__img__neuro {
    margin: 36px 12px;
    background-image: url("/img/img_nervous_system.jpg"), linear-gradient(white, blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.back__img__super {
    background-image: url("/img/img_speed01.jpg"), linear-gradient(white, red, black, black);
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
}

.back__img__giga {
    background-image: url("/img/img_psy_giga2.jpg"), linear-gradient(white, #30f);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.container__descr {
    margin: 32px;
    align-items: center;
    /* background-color: rgba(255, 0, 128, 0.2); */

}

.container__descr__title {
    font-size: 64px;
    font-weight: 700;
    text-shadow: -5px 5px 10px #03f, 5px -5px 10px #f80, -5px -5px 10px #0f0, 5px 5px 10px #f08;
}

.container__descr__text {
    font-size: 36px;
    font-weight: 400;
    color: var(--texto);
    text-shadow: 0 0 5px red, 2px 2px 5px black;
}

.devices {
    text-align: center;
    margin: 3em 0;
    text-shadow: 0 0 10px yellowgreen;
    /* background-color: red; */
    /* background-image: url(/img/_lightning02.gif);
    background-repeat: no-repeat;
    background-size: 100% 50%; */
}

.devices__title {
    font-size: 48px;
    color: var(--texto);
}

.devices__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    /* font-size: 32px; */
}

.devices__list__item {
    margin: 8px;
}

.list__item {
    font-size: 32px;
    color: var(--texto);
}

/* footer
footer__logo
footer__list
footer__list__link
footer__text */

.footer {
    text-align: center;
    margin: 5em 3em;
    /* background-color: aquamarine; */
}

.footer__logo {
    color: black;
    filter: invert(1);
}

.footer__list {
    display: flex;
    justify-content: center;
    text-align: justify;
    /* gap: 12px; */
    list-style-type: none;
    margin: 1em;
    text-decoration: none;
}

.footer__list__link a {
    text-decoration: none;
    color: var(--texto);
    margin: 1em;
}

.footer__list__link a:hover {
    color: orange;
    text-shadow: 0 0 10px yellow;
}

.footer__text {
    margin: 1em 0;
    color: var(--secundario);
    font-size: 14px;
}

.pay__header {
    margin: 24px 24px;
    border: 2px solid white;
    width: 124px;
    text-align: center;
}

.pay__header:hover {

    box-shadow: 0 0 10px orange;
}

.pay__back {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
}

.pay__body {
    background-color: black;
}

.not__found {
    font-size: 24px;
    margin: 24px;
}

.quiz__body {
    font-size: 24px;
    height: 100vh;
    /* background-color: black; */
    background-image: url(/img/img_earth02.jpg), linear-gradient(white, black);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quiz__header {
    display: flex;
    flex-direction: column;
    margin: 24px;
    /* background-color: blue; */
}

.quiz__p {
    text-shadow: 2px 2px 5px black, 0 0 5px red;
    }

.quiz__a {
    text-decoration: none;
    color: white;
    margin: 12px;
    padding: 16px;
    border: 2px solid white;
    text-shadow: 0 0 5px black;
    background-color: rgba(50, 50, 50, 0.5);
}

.quiz__a:hover {
    box-shadow: 0 0 50px yellow;
    background-color: rgba(255, 255, 0, 0.5);
}

.redacted {
    color: black;
    background-color: black;
    text-shadow: none;
    width: 200px;
}


@media (max-width: 500px) {
    .container__index {
        height: fit-content;
        align-items: center;
        background-size: cover;
        background-position: center;
    }

    .container__psy {
        
    }

    .container__title {
        font-size: 32px;
    }

    .container__title__psy {
        font-size: 32px;
    }

    .container__title2 {
        font-size: 16px;
        gap: 12px;
    }

    .psy__img-title-align {
        flex-direction: column;
        width: 310px;
        align-items: center;
    }

    .container__box__psy {
        
        align-items: left;
        justify-content: center;

    }

    .principal {
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;

    }

    .container__descr {
        text-align: center;
    }

    .container__descr__title {
        font-size: 40px;
    }

    .container__descr__text {
        font-size: 30px;
    }

    .container__image {
        width: 300px;
        margin: 24px;
    }

    .container__image__psy {
        margin: 12px;
        width: 300px;
        border-radius: 64px;
    }

    .back__img__neuro {
        background-repeat: repeat;
        background-size: contain;
        background-blend-mode: multiply;
    }

    .back__img__super {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .back__img__giga {
        background-image: url(/img/img_psy_giga3.jpg), linear-gradient(white, #30f);
        ;
        background-position: center;
        background-repeat: no-repeat;
    }

    .quiz__body {
        height: fit-content;
    }

    .quiz__p {
        font-size: 20px;
        text-align: center;
    }

    
    .devices {
        text-align: center;
        margin: 3em 0;
    }

    .devices__title {
        font-size: 36px;
    }

    .devices__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        /* font-size: 24px; */
    }

    .devices__list__item {
        margin: 12px;

    }

    .list__img {
        width: 40%;
    }

    .list__item {
        font-size: 24px;
        color: var(--texto);
    }


    .footer {
        margin: 12px 12px;
        /* padding: 12px; */
        gap: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        width: 35%;
    }

    .footer__list {
        /* margin: 16px; */
        gap: 12px;
        flex-direction: column;
        text-align: center;
        /* background-color: blue; */
    }

    /* .footer__text {
        background-color: red;
    } */


}