:root {
    --texto: #ffffff;
    --secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --fundo: black;
    --font-main: 'Orbit', sans-serif;
}

body {
    background-color: var(--fundo);
    color: var(--texto);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("/img/img_earth01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__button {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--texto);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__button:hover {
    box-shadow: 0 0 20px orange;
}

.container__button02:hover {
    box-shadow: 0 0 20px orange;
}

.secondary_button {
    background-color: transparent;
    border: 2px solid var(--texto);
}

.container__note {
    font-size: 16px;
    color: var(--secundario);
    text-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
    /* margin: 0 0 1em 2em; */
}

.container__title {
    font-size: 36px;
    font-weight: 700;
}

.container__image {
    margin: 1em 0 2em 0;
    width: 400px;
    border-radius: 64px;
    box-shadow: 0 0 24px yellow;
}

.container__box {
    margin: 0 6em;
    /* background-color: red; */
}

.container02 {
    align-items: center;
    margin: 64px 0;

}

.cont02img {
    background-image: url("/img/img_city02.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.cont03img {
    background-image: url("/img/img_nervous_system.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont04img {
    background-image: url("/img/img_speed01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container02__image {
    width: 400px;
    margin: 0 3em 0 3em;
    border-radius: 64px;
    box-shadow: 0 0 20px yellow;
}

.container02__descr {
    /* background-color: purple; */
    margin: 32px;

}

.container02__descr__title {
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgba(128, 0, 255, 1);
}

.container02__descr__text {
    font-size: 24px;
    font-weight: 400;
    color: var(--texto);
    text-shadow: 0px 0px 5px rgba(128, 0, 255, 1);
}

.container__button02 {
    display: block;
    margin: 1em 0 0 0;
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--texto);
    text-decoration: none;
    margin-bottom: 1em;
    width: fit-content;
}

.devices {
    text-align: center;
    margin: 3em 0;
    text-shadow: 0 0 10px yellowgreen;
    /* background-color: red; */
    /* background-image: url(/img/_lightning02.gif);
    background-repeat: no-repeat;
    background-size: 100% 50%; */
}

.devices__title {
    font-size: 48px;
    color: var(--texto);
}

.devices__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    /* font-size: 32px; */
}

.devices__list__item {
    margin: 8px;
}

.list__item {
    font-size: 32px;
    color: var(--texto);
}

/* footer
footer__logo
footer__list
footer__list__link
footer__text */

.footer {
    text-align: center;
    margin: 5em 3em;
    /* background-color: aquamarine; */
}

.footer__logo {
    color: black;
    filter: invert(1);
}

.footer__list {
    display: flex;
    justify-content: center;
    text-align: justify;
    /* gap: 12px; */
    list-style-type: none;
    margin: 1em;
    text-decoration: none;
}

.footer__list__link a {
    text-decoration: none;
    color: var(--texto);
    margin: 1em;
}

.footer__list__link a:hover {
    color: orange;
    text-shadow: 0 0 10px yellow;
}

.footer__text {
    margin: 1em 0;
    color: var(--secundario);
    font-size: 14px;
}

@media (max-width: 500px) {
    .container {
        margin: 100px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 50% 50%;
        background-size: cover;
        background-position: center;
    }

    .principal {
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;

    }

    .container02 {
        padding: 24px 0;
    }

    .container02__descr {
        text-align: center;
    }

    .container02__descr__text {
        font-size: 36px;
        text-shadow: 0 0 12px rgba(128, 0, 255, 1);
    }

    .container__image {
        width: 300px;
        margin: 24px;
    }

    .container02__image {
        width: 300px;
        margin: 12px 0;
    }

    .devices {
        text-align: center;
        margin: 3em 0;
    }

    .devices__title {
        font-size: 36px;
    }

    .devices__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        /* font-size: 24px; */
    }

    .devices__list__item {
        margin: 12px;

    }

    .list__img {
        width: 40%;
    }

    .list__item {
        font-size: 24px;
        color: var(--texto);
    }


    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .footer__logo {
        width: 20%;
    }

    .footer__list {
        margin: 16px;
        flex-direction: column;
        text-align: center;
        /* background-color: blue; */
    }

    /* .footer__text {
        background-color: red;
    } */




}