:root {
    --texto: #ffffff;
    --secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --fundo: black;
    --font-main: 'Orbit', sans-serif;
}

body {
    /* background-color: var(--fundo); */
    color: var(--texto);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
}

.body__black {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}


.main {
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    /* width: 1920px; */
    display: flex;
    flex-direction: row;
}

.container__box {
    margin: 0 48px;
    /* background-color: red; */
}

.container__box__psy {
    
    margin: 48px;
    /* background-color: red; */
}

.container__title {
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0 0 5px yellow, 2px 2px 5px black;
}

.container__title2 {
    font-size: 24px;
    font-weight: 200;
    text-shadow: 0 0 5px red, 2px 2px 2px black;
    text-align: justify;
}

.container__button {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--texto);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__button:hover {
    box-shadow: 0 0 20px orange;
}

.container__button02:hover {
    box-shadow: 0 0 20px orange;
}

.secondary_button {
    background-color: transparent;
    border: 2px solid var(--texto);
}

.container__note {
    font-size: 16px;
    color: var(--secundario);
    text-shadow: 0 0 5px red, 2px 2px 5px black;
    /* margin: 0 0 1em 2em; */
}

.container__image {
    margin: 1em 0 2em 0;
    width: 400px;
    border-radius: 64px;
    box-shadow: 0 0 24px yellow;
}

.container__image__neuro {
    margin: 64px;
    width: 400px;
    border-radius: 64px;
    box-shadow: 0 0 24px yellow;
}

.cont01img {
    background-image: url("/img/img_earth01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont02img {
    background-image: url("/img/img_city02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.cont03img {
    background-image: url("/img/img_nervous_system.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont04img {
    background-image: url("/img/img_speed01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont__neuro__img {
    background-image: url("/img/img_nervous_system.jpg"), radial-gradient(red,blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.container02 {
    align-items: center;
    text-align: center;
    margin: 64px 0;
}

.container02__image {
    width: 400px;
    margin: 0 3em 0 3em;
    border-radius: 64px;
    box-shadow: 0 0 20px yellow;
}

.container02__descr {
    margin: 32px;
    align-items: center;
    /* background-color: rgba(255, 0, 128, 0.2); */

}

.container02__descr__title {
    font-size: 64px;
    font-weight: 700;
    text-shadow: 0 0 5px red, 5px 5px 10px black;
}

.container02__descr__text {
    font-size: 36px;
    font-weight: 400;
    color: var(--texto);
    text-shadow: 0 0 5px red, 2px 2px 5px black;
}

.container__button02 {
    display: block;
    margin: 1em 0 0 0;
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--texto);
    text-decoration: none;
    margin-bottom: 1em;
    width: fit-content;
}

.devices {
    text-align: center;
    margin: 3em 0;
    text-shadow: 0 0 10px yellowgreen;
    /* background-color: red; */
    /* background-image: url(/img/_lightning02.gif);
    background-repeat: no-repeat;
    background-size: 100% 50%; */
}

.devices__title {
    font-size: 48px;
    color: var(--texto);
}

.devices__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    /* font-size: 32px; */
}

.devices__list__item {
    margin: 8px;
}

.list__item {
    font-size: 32px;
    color: var(--texto);
}

/* footer
footer__logo
footer__list
footer__list__link
footer__text */

.footer {
    text-align: center;
    margin: 5em 3em;
    /* background-color: aquamarine; */
}

.footer__logo {
    color: black;
    filter: invert(1);
}

.footer__list {
    display: flex;
    justify-content: center;
    text-align: justify;
    /* gap: 12px; */
    list-style-type: none;
    margin: 1em;
    text-decoration: none;
}

.footer__list__link a {
    text-decoration: none;
    color: var(--texto);
    margin: 1em;
}

.footer__list__link a:hover {
    color: orange;
    text-shadow: 0 0 10px yellow;
}

.footer__text {
    margin: 1em 0;
    color: var(--secundario);
    font-size: 14px;
}

.pay__header {
    margin: 24px 24px;
    border: 2px solid white;
    width: 124px;
    text-align: center;
}

.pay__header:hover {

    box-shadow: 0 0 10px orange;
}


.pay__back {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
}

.not__found {
    font-size: 24px;
    margin: 24px;
}

.quiz__body {
    font-size: 24px;
    background-image: url("/img/img_earth02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.quiz__header {
    display: flex;
    flex-direction: column;
    margin: 24px;
    /* background-color: blue; */
}

.quiz__p {
    text-shadow: 2px 2px 5px black, 0 0 5px red;

}

.quiz__a {
    text-decoration: none;
    color: white;
    margin: 12px;
    padding: 16px;
    border: 2px solid white;
    text-shadow: 0 0 5px black;
    background-color: rgba(50, 50, 50, 0.5);
}

.quiz__a:hover {
    box-shadow: 0 0 50px yellow;
    background-color: rgba(255, 255, 0, 0.5);

}

@media (max-width: 500px) {
    .container {
        margin: 100px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 50% 50%;
        background-size: cover;
        background-position: center;
    }

    .container__title {
        font-size: 32px;
    }

    .container__title2 {
        font-size: 16px;

    }

    .principal {
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;

    }

    .container02 {
        padding: 24px 0;
    }

    .container02__descr {
        text-align: center;
    }

    .container02__descr__text {
        font-size: 36px;
    }

    .container__image {
        width: 300px;
        margin: 24px;
    }

    .container__image__neuro {
        margin: 24px;
        width: 300px;
        border-radius: 64px;
        box-shadow: 0 0 24px yellow;
    }

    .cont__neuro__img {
        background-repeat: repeat;
        background-size: contain;
        background-blend-mode: multiply;
    }

    .container02__image {
        width: 300px;
        margin: 12px 0;
    }

    .devices {
        text-align: center;
        margin: 3em 0;
    }

    .devices__title {
        font-size: 36px;
    }

    .devices__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        /* font-size: 24px; */
    }

    .devices__list__item {
        margin: 12px;

    }

    .list__img {
        width: 40%;
    }

    .list__item {
        font-size: 24px;
        color: var(--texto);
    }


    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35em 0 5em 0;
    }

    .footer__logo {
        width: 20%;
    }

    .footer__list {
        margin: 16px;
        flex-direction: column;
        text-align: center;
        /* background-color: blue; */
    }

    /* .footer__text {
        background-color: red;
    } */




}